<?xml version="1.0" encoding="UTF-8"?>

<web-app>

	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>gdp.api.register.register</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
</web-app>